In [13]:
import pandas as pd
import numpy as np
from sklearn import linear_model
!pip install word2number 
from word2number import w2n

Requirement already satisfied: word2number in c:\users\safda\anaconda3\lib\site-packages (1.1)

In [14]:
df = pd.read_csv('hiringu.csv')
df

  experience  test_score  interview_score  salary
0        NaN         8.0                9   50000
1        NaN         8.0                6   45000
2       five         6.0                7   60000
3        two        10.0               10   65000
4      seven         9.0                6   70000
5      three         7.0               10   62000
6        ten         NaN                7   72000
7     eleven         7.0                8   80000

In [15]:
import math
df.test_score.median()

8.0

In [20]:
df.test_score = df.test_score.fillna(df.test_score.median())
df.experience = df.experience.fillna('zero')
df.experience = df.experience.apply(w2n.word_to_num)

df

   experience  test_score  interview_score  salary
0           0         8.0                9   50000
1           0         8.0                6   45000
2           5         6.0                7   60000
3           2        10.0               10   65000
4           7         9.0                6   70000
5           3         7.0               10   62000
6          10         8.0                7   72000
7          11         7.0                8   80000

In [22]:
model = linear_model.LinearRegression()
model.fit(df[['experience','test_score','interview_score']],df['salary'])

LinearRegression()

In [27]:
model.predict([[12,10,10]])

C:\Users\safda\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([92002.18340611])

In [29]:
model.score(df[['experience','test_score','interview_score']],df['salary'])

0.961678000257796